.main {
  margin-top: 25px;
  display: flex;
  width: auto;
  text-align: center;
  flex-flow: row;
}

@media screen and (max-width: 800px) {
  .main {
    display: flex;
    flex-flow: column;
  }
  .floatChildText {
    order: 1;
  }
  .mainImage {
    order: 2;
  }
}

.floatChildText {
  width: 100%;
  float: left;
  /* margin-left: 10%; */
  text-align: left;
  /* max-width: 500px; */
}
.textElement {
  max-width: 500px;
}

.imageDiv {
  float: left;
  width: 100%;
  /* margin-right: 10%; */
}
.mainImage {
  margin-top: 2vh;
  max-width: 50vh;
}

.floatContainer {
}

.floatChild {
  float: left;
}

.mainImageTop {
  margin: auto;
  max-width: 100%;
}

.wrapper {
  margin: auto;
  max-width: 80%;
}
