.headerSize {
  height: 87px;
}
.header {
  width: 100%;
  background-color: #fff;
}

.headerText {
  font-family: 'LoraRegular';
  font-size: 40px;
  margin-bottom: 5px;
}


.headerButton {
  outline: none;
  border: none;
  background: #fff;
  color: #000000;
  cursor: pointer;
  font-size: 20px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.headerButton:hover {
  background-color: lightgray;
}

.headerButtons {
  border-top-style: solid;
  border-bottom-style: solid;
  border-width: thin;
  color: lightgray;
}

.active {
  border: 10px;
  /* outline: none; */
  /* border: none; */
  background: rgb(182, 178, 178);
  color: #000000;
  cursor: pointer;
  font-size: 20px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
}